<!DOCTYPE html>

{% load staticfiles %}

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bootstrap css, awesome font, jquery, bootrap scripts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
      <!-- local -->
    <link rel="stylesheet" href="{% static "css/layout_stylesheet.css" %}" />
    
      <title>Index</title>
      
 </head>

    <!-- navbar-->
    <body>  
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#NavItems">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"><img src="{% static "images/fgn_icon_simple.svg" %}" fill="none" alt="No logo found."/></a>

            </div>

            <div class="collapse navbar-collapse" id="NavItems">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">home</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">team</a></li>
                    <li><a href="#">contact</a></li>
                </ul>

            </div>


        </div>
      </nav>
     <!-- end navbar-->
        
        {% block body_block %}

        {% endblock %}

    </body>
</html>