<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
      <!-- Bootstrap -->
      <title>FGN Plumbing & Heating</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      <!-- Scripts -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

      <!-- Local -->
      <link rel="stylesheet" href="{% static "css/about_stylesheet.css" %}" />
  </head>



  <body>
      <div id="page" style="background-image:url({% static "images/website_cover.svg" %}); background-size:cover;">
       
     <!-- navbar -->
     <nav class="navbar navbar-expand-sm navbar-dark fixed-top">

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#NavItems" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <img src="{% static "images/fgn_icon_simple.svg"%}" />
         </button>

         <div class="collapse navbar-collapse" id="NavItems">
             <ul class="navbar-nav mx-auto">

                 <li class="nav-item active">
                     <a class="nav-link" href="#">Home</a>
                 </li>
                  
                 <li class="nav-item">
                     <a class="nav-link" href="#">About</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">Contact</a>
                 </li>
             </ul>
         </div>
     </nav>
     <!--end navbar-->
      
    <div class="filler_large"></div>
    <div class="jumbotron">
        <img src="{% static "images/fgn_logo.png"%}" />
    </div>
    <div class="filler_small"></div>

    <!-- Transparent row Welcome-->
    <div class="container-fluid rower">
        <div class="row align-items-center justify-content-md-center">

            <div class="col" id="text-rectangle">
               <div class="filler_xsmall"></div>
               
                <div class="text_contaier">
                    <h2 class=" text-light text-center">Welcome!</h2>
                    <h3 class="lead text-light text-center"> I am an experienced plumber and gas engineer working in and around the london area.</h3>
                </div>
            </div>
            <!-- Good code to have.
            <div class="col-lg-4 d-lg-block d-none" id="image-square">
             
            </div>
             -->
      </div>


    <!--End first row-->
    </div>
    <!-- Transparent row Welcome-->
       
      
        <!-- tab div-->
        <div class="section_div">
        
            <div class="filler_small"></div>
            <h2 class="text-center">Services</h2>
            <div class="filler_small"></div>
            

        <div class="rower container-fluid">       
            <div class="row">
                <div class="cicler col-lg-3 col-md-6">
                    <img class="rounded-circle" src="{% static "images/boiler.svg" %}" alt="shit" style="max-height:200px"/>
                </div>
                <div class="cicler col-lg-3 col-md-6">
                    <img class="rounded-circle" src="{% static "images/boiler.svg" %}" style="max-height:200px"/>
                </div>
                <div class="cicler col-lg-3 col-md-6">
                    <img class="rounded-circle" src="{% static "images/boiler.svg" %}" style="max-height:200px"/>
                </div>
                <div class="cicler col-lg-3 col-md-6">
                    <img class="rounded-circle" src="{% static "images/boiler.svg" %}" style="max-height:200px"/>
                </div>
            </div>
            </div>

             <div class="filler_small"></div>
            <div class="filler_small"></div>
        </div>
        <!--end tab div-->
      
    

             </div> <!-- page div-->
  </body>
</html>