amqp==2.2.2
beautifulsoup4==4.6.0
billiard==3.5.0.3
celery==4.1.0
cffi==1.11.2
Django==1.11.6
django-celery-beat==1.1.0
django-celery-results==1.0.1
django-common-helpers==0.9.1
django-cron==0.5.0
ephem==3.7.6.0
Faker==0.8.6
kombu==4.1.0
pycparser==2.18
python-dateutil==2.6.1
python2==1.2
pytz==2017.2
rabbitmq==0.2.0
six==1.11.0
text-unidecode==1.0
vine==1.1.4
wget==3.2
