<div class="text-center" style="font-size: 1em; background-color: rgba(64, 91, 78, 0.7);">
    <div style="padding: 1em;">


        <div class="row">

            <div class="col-xs-9 col-sm-9 col-md-9" style="margin: 0 auto;">
                <p style="color:white;">Lorem ipsum dolor sit amet, ex solet aliquid mea. Ea dicat insolens qui, reque delectus quo te. Cum ut lorem viris lucilius. Commodo scripta pro ex, ex his delenit voluptaria, et tation ceteros splendide vel. Ex pri everti officiis.

Nam eu prima contentiones. Cum aperiam veritus explicari cu, tale pertinacia disputationi pro in. Pro no commodo splendide. Usu ad omnium viderer mediocritatem, ius ex quot maluisset definitionem. Quis meliore sit at. At his mollis invidunt. Cum omnes scaevola ut.

Et eam sumo putant. Est volumus expetendis adipiscing no, solet vivendum pericula est ex. Ad quo patrioque consequat, ea pro quas saperet posidonium. Mei novum tantas omittantur ea, tantas vivendo deleniti duo id. His vide ancillae ea. An eam dico verterem probatus. Mea malis tincidunt suscipiantur te.</p>
            </div>

        </div>
    </div>
</div>

