
{% load staticfiles %}

<div class="row">

    <div class="col col-md-6 col-sm-6">
        <div class="text-right" style="font-size: 1em; background-color: rgba(7, 17, 8, 0.0); padding-right:2em">
            <br>
            <h2 style="color:white;">I'm Florin <img class="slideanim" style="border-radius: 50%; height:2em;" src="{% static "images/florin.jpg" %}"></h2>
            <br>
            <br>

            <div class="slideanim">
                <h3 style="color:white">...a <span style="font-weight: bold">plumber</span></h3>
                <h3 style="color:white">and <span style="font-weight: bold">gas engineer</span></h3>
                <h4 style="color:white">with over <span style="font-weight: bold">10 years of experience.</span></h4>
            </div>
            <br>
            <br>
            <div class="slideanim">
                <h4 class="slideanim" style="color:white">I'm <span style="font-weight: bold">fast</span>
                    , <span style="font-weight: bold">clean</span>
                    and <span style="font-weight: bold">reliable</span>,
                </h4>
                <h4 class="slideanim" style="color:white"> and will find the best solution</h4>
                <h4 class="slideanim" style="color:white"> for your home. </h4>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="col col-md-6 col-sm-6" style=" background: linear-gradient(125deg, rgb(10,10,10,0.3), rgb(10,10,10,0.0), rgb(10,10,10,0.0))">
        <div id="demo" style="padding-left:2em">
            <br>
            <h4 class=" slide" style="color:white; font-weight: bold">Qualifications:</h4>
            <br>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>NVQ2 in Plumbing &amp; Heating</p>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>Gas Safe: No. 564036</p>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>CNN1</p><p class="slideanim slide" style="color:#e5e5e5">
            <span style="color: orange"> | </span>CPA1</p>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>CKR1</p>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>CEN1</p>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>WAT1</p>
            <p class="slideanim slide" style="color:#e5e5e5"><span style="color: orange"> | </span>WAT1</p>
        </div>
    </div>

    <br>
</div>

