{% load staticfiles %}
<style>

</style>

<div class="container" style="width:600px">
    <form>
        <div class="row row-form">
            <div class="col-sm-2">
                <p>name:</p>
            </div>
            <div class="col">
                <input type="text" class="form-control" id="contact-name" placeholder="John Smith">
            </div>
        </div>
        <div class="row row-form">

            <div class="col-sm-2">
                <p>email:</p>
            </div>
            <div class="col">
                <input type="email" class="form-control" placeholder="john.smith@email.com">
            </div>
        </div>
        <div class="row row-form">
            <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <div>

        </div>

    </form>
</div>