{% load staticfiles %}

<div class="container-fluid">
    <div class="text-center" style="font-size: 2em; background-color: transparent; border-radius:0.5em;">

        <div class="row">
            <div class="service col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <img class="card-img-top" src="{% static "images/boiler.svg" %}">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">text</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="service col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <img class="card-img-top" src="{% static "images/boiler.svg" %}">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">text</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <div class="service col-md-4 col-sm-4 col-xs-4">
                <div class="card">
                    <img class="card-img-top" src="{% static "images/boiler.svg" %}">

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">text</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>