{% extends "_base.html" %}
{% load staticfiles %}


{% block content %}
<style>
    .space {
        height:6em;
    }
    .graph-paper {
        background-color: rgb(59, 127, 192, 1.0);

        background-image: -webkit-linear-gradient(rgb(255,255,255,0.5) 2px, transparent 2px), -webkit-linear-gradient(90deg, rgb(255,255,255,0.5) 2px, transparent 2px), -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), -webkit-linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-image: -moz-linear-gradient(rgb(255,255,255,0.5) 2px, transparent 2px), -moz-linear-gradient(90deg, rgb(255,255,255,0.5) 2px, transparent 2px), -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), -moz-linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-image: -o-linear-gradient(rgb(255,255,255,0.5) 2px, transparent 2px), -o-linear-gradient(90deg, rgb(255,255,255,0.5) 2px, transparent 2px), -o-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), -o-linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-image: -ms-linear-gradient(rgb(255,255,255,0.5) 2px, transparent 2px), -ms-linear-gradient(90deg, rgb(255,255,255,0.5) 2px, transparent 2px), -ms-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), -ms-linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
        background-image: linear-gradient(rgb(255,255,255,0.5) 2px, transparent 2px), linear-gradient(90deg, rgb(255,255,255,0.5) 2px, transparent 2px), linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);

        -webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        -moz-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
        background-size: 150x 150px, 150px 150px, 30px 30px, 30px 30px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
    }
</style>
<div class="jumbotron jumbotron-fluid text-center" style="background-image:url({% static "images/tools.jpg" %}); background-size: cover; height:720px;margin-bottom: -3em; align-items: center;">


    <div style="background-color: rgba(44, 67, 90, 0.6); margin: auto; max-width: 30em; transform: translateY(60%);">
        <br>
        <img id="logo" src="{% static "images/fgn.png" %}", style="height: 7em">
        <div class="text-center">
            <h2><font color="white">Plumbing & Heating</font></h2>
        </div>
        <br>
    </div>

    <div style="transform: translateY(320%)">
        <button style="background-color: rgba(255,255,255,0.1); border: 1px solid white; border-radius:5px; padding:0.5em 2em; font-size: 1em; color:white;" type="button">Book a Visit</button>
    </div>

</div>


<nav class="navbar navbar-expand sticky-top navbar-dark" style="background-color: rgba(44, 67, 90, 0.7); height:3em; z-index:2">

         <div class="collapse navbar-collapse">
             <ul class="navbar-nav mx-auto">

                 <li class="nav-item active">
                     <a class="nav-link" href="#">Home</a>
                 </li>

                 <li class="nav-item">
                     <a class="nav-link" href="#">About</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="#">Contact</a>
                 </li>
             </ul>
         </div>
</nav>
{% block main %}

{% endblock %}

{% endblock %}