
{% load staticfiles %}
<div style="background: linear-gradient(225deg, rgb(10,10,10,0.3), rgb(10,10,10,0.0), rgb(10,10,10,0.0))">
<br>
<h3 style="text-align:center;color:white"> Reviews: </h3>
<br>
<div id="reviews" class="carousel slide reviews" data-ride="carousel" style="height:18em;background:transparent">
   <div class="carousel-inner" id="review-block">
       <div class="carousel-item active" style="text-align:center; color:white">
            <h5 class="overtheflow" style="color:white; overflow:hidden;">
                <i>Florin is an excellent plumber. I highly recommend him</i>
            </h5>
            <h4 class="overtheflow" style="color:orange; overflow:hidden">
                vlad<span style="color: orange"> | </span> - 13th Jul, 2018
            </h4>
       </div>

   </div>
   <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
   </a>
</div>

</div>
<script type="text/javascript">

    var reviews = document.getElementById('review-block')
    document.addEventListener("DOMContentLoaded", function() {
        var request = new XMLHttpRequest();
        request.open('GET','http://178.128.41.229:8000/reviews');
        request.onload = function() {
            var data  = JSON.parse(request.responseText);
            console.log(data);
            renderReview(data);
        };
        request.send();
    });


    function renderReview(data) {

    var htmlstring = "";
         for(var i=0; i<data.length; i++) {
            htmlstring += "<div class=\"carousel-item\" style=\"text-align:center\">";
            htmlstring += "<h5 class=\"overtheflow\" style=\"color:white; overflow:hidden;\"><i>\"";

            htmlstring += data[i].description;
            htmlstring += "\"</i></h5>";
            htmlstring += "<h4 class=\"overtheflow\" style=\"color:orange; overflow:hidden\">";

            htmlstring += data[i].author;
            htmlstring += "<span style=\"color: orange\"> | </span>";

            htmlstring += data[i].date;
            htmlstring += "</h4></div>";


        }

        reviews.insertAdjacentHTML('beforeend', htmlstring);
    }


</script>

